{% extends 'master.html'%}

{% block title %}
    <title>About Us</title>
{% endblock %}

{% block content %}
    <h2 class="text-center text-danger">Our teams</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate expedita fugiat, id incidunt laborum libero maxime minima officiis pariatur praesentium quos recusandae repellendus reprehenderit, veritatis voluptates? Inventore magni officiis provident!</p>
    
    <h2>Our Products</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias autem consequatur delectus eius error id illum magni maiores nostrum perspiciatis provident, quidem, quo rerum tempora! Ab illum mollitia quisquam!</p>
{% endblock %}