{% extends 'master.html' %}
{% load static %}

{% block title %}
    <title>Home</title>
{% endblock %}

{% block content %}
    <h2 class="text-center text-danger">Welcome to Mara Resort Club</h2>
    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate expedita fugiat, id incidunt laborum libero maxime minima officiis pariatur praesentium quos recusandae repellendus reprehenderit, veritatis voluptates? Inventore magni officiis provident!</span></p>
    
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <img src="{% static 'images/instagram.png' %}" alt="">
            </div>
            <div class="col-sm-4">
                <img src="{% static 'images/twitter.png' %}" alt="">
            </div>
            <div class="col-sm-4">
                <img src="{% static 'images/whatsapp.png' %}" alt="">
            </div>
        </div>
    </div>
    
{% endblock %}